@import "tailwindcss";

:root {
  --color-brand: #1a9fff;
  --color-bg: #ffffff;
  --color-bg-dark: #f2f3f5;
  --color-bg-darker: #e3e5e8;

  --color-text-primary: #6d6f78;
  --color-text-secondary: #ffffff;

  /* --text-success: #dc2626; */
  /* --text-info: #dc2626; */
  /* --text-warning: #dc2626; */
  --color-danger: #dc2626;
}

@theme inline {
  --color-color-brand: var(--color-brand);
  --color-color-bg: var(--color-bg);
  --color-color-bg-dark: var(--color-bg-dark);
  --color-color-bg-darker: var(--color-bg-darker);
  --color-color-danger: var(--color-danger);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  font-size: 1.25rem; /* Adjust as needed */
}
